{% extends 'home/base.html' %}

{% load static %}
{% block title %}درخواست برداشت و پرداخت{% endblock %}
{% block open3 %}
open
{% endblock %}
{% block open3-active1 %}
active
{% endblock %}
{% block content %}
<div class="cintainer">
	<div class="row my-2">
		<div class="card">
			<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row p-3">
					{% if msg == "success" %}
					<p class="bg-warning text-danger rounded rounded-2">ساخت فروشگاه موفقیت امیز بود.</p>
					{% elif msg == "failed" %}
					<p class="bg-warning text-danger rounded rounded-2">ساخت فروشگاه ناموفق بود.</p>
					{% endif %}
					<div class="col-md-6 py-2">
						<div class="input-group">
							{{form_edite.name}}
							<!-- <input type="number" class="form-control" placeholder="شماره کارت"> -->
							<span class="input-group-text" id="basic-addon13">نام</span>
						</div>
					</div>
					<div class="col-md-6 py-2">
						<div class="input-group">
							{{form_edite.username}}
							<!-- <input type="number" class="form-control" placeholder="شماره شبا"> -->
							{% if msg == "username" %}
							<p class="bg-warning">یوزرنیم استفاده شده</p>
							{% endif %}
							<span class="input-group-text" id="basic-addon13">یوزرنیم(ادرس)</span>
						</div>
					</div>
					<div class="col-md-6 py-2">
						<div class="input-group">
							{{form_edite.phone_number}}
							<!-- <input type="number" class="form-control" placeholder="شماره کارت"> -->
							<span class="input-group-text" id="basic-addon13">شماره تلفن</span>
						</div>
					</div>
					<div class="col-md-6 py-2"></div>
					<div class="col-md-6 py-2">
						<div class="d-flex align-items-start align-items-sm-center gap-4">
						  {% if shop.small_image.url %}
						  <img src="{{shop.small_image.url}}" alt="user3-avatar" class="d-block rounded" id="uploadedAvatar"
							width="100" height="100">
						  {% else %}
						  <img src="/media/images/shops/default-image-small.png" alt="user-avatar" class="d-block rounded"
							id="uploadedAvatar" width="100" height="100">
						  {% endif %}
						  <div class="button-wrapper">
							<label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
							  {{form_edite.small_image}}
							</label>
						  </div>
						</div>
					  </div>
					  <div class="col-md-6 py-2">
						<div class="d-flex align-items-start align-items-sm-center gap-4">
						  {% if shop.banner_image.url %}
						  <img src="{{shop.banner_image.url}}" alt="user3-avatar" class="d-block rounded" id="uploadedAvatar"
							width="100" height="100">
						  {% else %}
						  <img src="/media/images/shops/default-image-banner.png" alt="user-avatar" class="d-block rounded"
							id="uploadedAvatar" width="100" height="100">
						  {% endif %}
						  <div class="button-wrapper">
							<!-- <form action=""  method="post" enctype="multipart/form-data"> -->
							{% csrf_token %}
							<label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
							  {{form_edite.banner_image}}
							</label>
						  </div>
						</div>
					  </div>
					<div class="col-10 col-sm-12 py-2">
						<h5>توضیحات</h4>
							{{form_edite.description}}
					</div>
				</div>
				<button type="submit" class="btn btn-danger my-2 mb-3">ثبت</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}