{% extends 'home/base_shop.html' %}

{% load static %}
{% block title %}ویرایش محصولات{% endblock %}
{% block open1 %}
open
{% endblock %}
{% block open1-active1 %}
active
{% endblock %}
{% block content %}
<div class="cintainer">
    {% if msg == "success" %}
    <div class="alert alert-success" role="alert">
        محصول با موقیت اضافه شد
    </div>

    {% elif msg == "failed" %}
    <div class="alert alert-danger" role="alert">
        خطا محصول اضافه نشد.
    </div>
    {% endif %}
    {% if img_count %}
    <div class="alert alert-info" role="alert">
        برای این محصول {{img_count}} اضافه شد
    </div>
    {% endif %}
    <div class="row">
        <div class="card">
            <div class="col-lg-10">
                <div class="row">
                    <form action="" method="post" class="row g-3" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">نام</label>
                            {{form_product.name}}
                            <!-- <input type="text" required="required" class="form-control" name="name" id="name"> -->
                            
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">حد اکثر فروش</label>
                            {{form_product.max_sel}}
                            <!-- <input type="number" required="required" class="form-control" name="max_sel" id="max_sel"> -->
                            
                        </div>
                        <div class="col-6">
                            <label for="inputAddress" class="form-label">قیمت</label>
                            {{form_product.price}}
                            <!-- <input type="number" required="required" class="form-control" name="price" id="price"> -->
                            
                        </div>
                        <div class="col-md-6">
                            <label for="inputState" class="form-label">دسته بندی</label>
                            <select multiple name="category" id="category" class="form-select">
                                {% for category in categorys_list %}
									{% if product in category.products.all %}
                                	<option selected value="{{category.id}}">{{category.name}}</option>
									{% else %}
									<option value="{{category.id}}">{{category.name}}</option>
									{% endif %}
								{% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12 mb-2">
                            <label for="inputCity" class="form-label">جزیات</label>
                            {{form_product.description}}
                            <!-- <input type="text" class="form-control" name="description" id="description"> -->
                            
                        </div>
                        <div id="row_images" class="row">
                            <p>عکس های این محصول</p>
                            {% for image in products_image %}
                            <div class="col-md-3 col-sm-6">
                                <div class="card">
                                    <img src="{{image.image.url}}" alt="" name="image_{{forloop.counter}}" class="card-image-top">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row" id="images">
                            <div id="add_image" class="btn btn-primary p-2" style="max-width: fit-content;">افزودن عکس
                            </div>
                        </div>
                        <script>
                            var img_count = $('#row_images').find('img').length
                            $(document).ready(function () {
                                var count = 0;
                                if (img_count >= 1){
                                    count = img_count;
                                }
                                $('#add_image').click(function () {
                                    count += 1;
                                    $(this).before(`
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-4 mb-3">
                                                <p>عکس</p>
                                                <input type="image" class="form-control" id="image_${count}" name="image_${count}" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
                                            </div>
                                        </div>
                                    </div>
                                    `);
                                })
                            })
                        </script>

                        <div class="col-12 mb-2">
                            <button type="submit" class="btn btn-primary">ثبت محصول</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
{% endblock %}