{% extends 'home/base.html' %}

{% load static %}
{% block title %}ساخت فروشگاه{% endblock %}
{% block open3 %}
open
{% endblock %}
{% block open3-active1 %}
active
{% endblock %}
{% block content %}
<div class="cintainer">
	<!-- <div class=""> -->
	<div class="row my-2">
		<div class="card">
			<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="alert alert-info" role="alert">
					<p>بعد از ساخت فروشگاه صفحه فروشگاه شما از این لینک قابل مشاهده است.</p>
					<p dir="ltr">127.0.0.1:8000/shops/ID Shop/</p>
					<p>ID Shop = ایدی فروشگاه شماست.</p>
					
				  </div>
				<div class="row p-3">
					{% if msg == "success" %}
					<p class="bg-warning text-danger rounded rounded-2">ساخت فروشگاه موفقیت امیز بود.</p>
					{% elif msg == "failed" %}
					<p class="bg-warning text-danger rounded rounded-2">ساخت فروشگاه ناموفق بود.</p>
					{% endif %}
					<div class="col-md-6 py-2">
						<div class="input-group">
							{{form_shop.name}}
							<span class="input-group-text" id="basic-addon13">نام</span>
						</div>
					</div>
					<div class="col-md-6 py-2">
						<div class="input-group">
							{{form_shop.username}}
							{{form_shop.username.errors}}
							<span class="input-group-text" id="basic-addon13">یوزرنیم(ادرس)</span>
						</div>
					</div>
					<div class="col-md-6 py-2">
						<div class="input-group">
							{{form_shop.phone_number}}
							{% for error in form_shop.phone_number.errors %}
								{{error}}
							{% endfor %}
							<span class="input-group-text" id="basic-addon13">شماره تلفن</span>
						</div>
					</div>
					<div class="col-md-6 py-2">
						<div class="d-flex align-items-start align-items-sm-center gap-4">
						  {% if shop.small_image.url %}
						  <img src="{{shop.small_image.url}}" alt="user3-avatar" class="d-block rounded" id="uploadedAvatar"
							width="100" height="100">
						  {% else %}
						  <img src="/media/images/shops/default-image-small.png" alt="user-avatar" class="d-block rounded"
							id="uploadedAvatar" width="100" height="100">
						  {% endif %}
						  <div class="button-wrapper">
							<label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
							  {{form_shop.small_image}}
							</label>
						  </div>
						</div>
					  </div>
					  <div class="col-md-6 py-2">
						<div class="d-flex align-items-start align-items-sm-center gap-4">
						  {% if shop.banner_image.url %}
						  <img src="{{shop.banner_image.url}}" alt="user3-avatar" class="d-block rounded" id="uploadedAvatar"
							width="100" height="100">
						  {% else %}
						  <img src="/media/images/shops/default-image-banner.png" alt="user-avatar" class="d-block rounded"
							id="uploadedAvatar" width="100" height="100">
						  {% endif %}
						  <div class="button-wrapper">
							<!-- <form action=""  method="post" enctype="multipart/form-data"> -->
							{% csrf_token %}
							<label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
							  {{form_shop.banner_image}}
							</label>
						  </div>
						</div>
					  </div>
					<div class="col-10 col-sm-12 py-2">
						<h5>توضیحات</h4>
							{{form_shop.description}}
					</div>
				</div>
				<button type="submit" class="btn btn-danger my-2 mb-3">ثبت</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="card">
			<h5 class="card-header">لیست فروشگاه ها</h5>
			<div class="table-responsive text-nowrap">
				<table class="table">
					<thead>
						<tr>
							<th>نام</th>
							<th>یوزرنیم</th>
							<td>وضعیت</td>
							<th>بیشتر</th>
						</tr>
					</thead>
					{% for shop in shop_list %}
					<tbody class="table-border-bottom-0">
						<tr>
							<td><i class="fab fa-angular fa-lg text-danger me-3"></i>
								<strong>{{shop.name}}</strong>
							</td>
							<td>
								<p>{{shop.username}}</p>
							</td>
							<td>
								{% if shop.is_active %}
								<span class="badge bg-label-success me-1">فعال</span>
								{% else %}
								<span class="badge bg-label-danger me-1">غیرفعال</span>
								{% endif %}
							</td>
							<td>
								<div class="dropdown">
									<button type="button" class="btn p-0 dropdown-toggle hide-arrow"
										data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="/shops/edite/{{shop.username}}/"><i
												class=" me-1"></i>ویرایش</a>
										<a class="dropdown-item" href="/shops/delete/{{shop.username}}/"><i
												class=" me-1"></i>حذف</a>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>

	<!-- </div> -->
</div>
{% endblock %}