{% extends 'home/base_shop.html' %}
{% load static %}

{% block links %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block title %}درخواست برداشت و پرداخت{% endblock %}

{% block open1 %}
open
{% endblock %}

{% block open1-active1 %}
active
{% endblock %}

{% block content %}
<div class="cintainer">
	<div class="row my-2">
		<div class="card">
			<div class="row p-3">
				<div class="col-md-6 py-2">
					<div class="input-group">
						<span class="text-warning">نام:</span>
						<p>{{product.name}}</p>
					</div>
				</div>
				<div class="col-md-6 py-2">
					<div class="input-group">
						<span class="text-warning">حداکثر فروش:</span>
						<p>{{product.max_sel}}</p>
					</div>
				</div>
				<div class="col-md-6 py-2">
					<div class="input-group">
						<span class="text-warning">قیمت:</span>
						<p>{{product.price}}</p>
					</div>
				</div>
				<div class="col-md-6 py-2">
					<div class="input-group">
						<span class="text-warning">فروشگاه:</span>
						<p>{{product.shop}}</p>
					</div>
				</div>
				<div class="col-md-6 my-2">
					<div class="input-group">
						<span class="text-warning">عکس:</span>
						<img src="{{product.image.url}}" alt="">
					</div>
				</div>
				<div class="col-md-6 py-2">
					<div class="input-group">
						<span class="text-warning">دسته بندی:</span>
						{% if category_lists %}
							{% for category in category_lists %}
								<p>{{category.name}},&nbsp;</p>
							{% endfor %}
						{% else %}
						<p>بدون دسته بندی</p>
						{% endif %}
					</div>
				</div>
				<div class="col-10 col-sm-12 py-2">
					<h5 class="text-warning">توضیحات:</h4>
						{% if product.description %}
						<p>{{product.description}}</p>
						{% else %}
						<p>بدون توضیحات</p>
						{% endif %}
				</div>
			</div>
		</div>
		<div class="row my-3">
			<div class="card">
				<div class="row">
						<div class="col-md-6 cil-sm-12">
							<h5 class="">سود فروش این هفته</h5>
							<canvas id="myChart"></canvas>
						</div>
						<div class="col-md-6 cil-sm-12">
							<h5 class="">تعداد فروش این هفته</h5>
							<canvas id="myChart2"></canvas>
						</div>
						<script>
							const ctx = document.getElementById('myChart');

							new Chart(ctx, {
								type: 'bar',
								data: {
									labels: ['{{info_1_day_time}}', '{{info_2_day_time}}', '{{info_3_day_time}}', '{{info_4_day_time}}', '{{info_5_day_time}}', '{{info_6_day_time}}', '{{info_7_day_time}}'],
									datasets: [{
										label: 'درامد ',
										data: ['{{info_1_day.sum_price}}', '{{info_2_day.sum_price}}', '{{info_3_day.sum_price}}', '{{info_4_day.sum_price}}', '{{info_5_day.sum_price}}', '{{info_6_day.sum_price}}', '{{info_7_day.sum_price}}',],
										borderWidth: 1
									}]
								},
								options: {
									scales: {
										y: {
											beginAtZero: true
										}
									}
								}
							});
						</script>
						<script>
							const ctx2 = document.getElementById('myChart2');

							new Chart(ctx2, {
								type: 'bar',
								data: {
									labels: ['{{info_1_day_time}}', '{{info_2_day_time}}', '{{info_3_day_time}}', '{{info_4_day_time}}', '{{info_5_day_time}}', '{{info_6_day_time}}', '{{info_7_day_time}}'],
									datasets: [{
										label: 'تعداد ',
										data: ['{{info_1_day.count}}', '{{info_2_day.count}}', '{{info_3_day.count}}', '{{info_4_day.count}}', '{{info_5_day.count}}', '{{info_6_day.count}}', '{{info_7_day.count}}',],
										borderWidth: 1
									}]
								},
								options: {
									scales: {
										y: {
											beginAtZero: true
										}
									}
								}
							});
						</script>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}