{% extends 'home/base.html' %}
{% load static %}
{% block title %}تغییر پسورد{% endblock %}
{% block active2 %}
open
{% endblock %}
{% block active4 %}
active
{% endblock %}
{% block content %}
<div class="cintainer">
    <div class="card mb-4">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 col-sm-12 pt-4 mt-4">
                <!-- <div class="card shadow py-3"> -->
                    <!-- <div class="card-img-top bg-success text-center py-3 text-white">فروشگاه فلان</div> -->
                    <form action="" method="post">
                        <div class="row justify-content-center">
                            
                            <div class="col-lg-5 col-10">
                                <label for="password1" class="form-label">پسورد</label>
                                <input type="password" name="" class="form-control" id="password1">
                            </div>
                            <div class="col-lg-5 col-10">
                                <label for="password1" class="form-label">پسورد</label>
                                <input type="password" name="" class="form-control" id="password1">
                            </div>
                            <div class="col-lg-5 col-10">
                                <label for="password1" class="form-label">پسورد</label>
                                <input type="password" name="" class="form-control" id="password1">
                            </div>
                            <div class="col-10 py-2">
                                <button type="submit" id="submit" class="btn btn-success me-2">ورود</button>
                            </div>
                        </div>
                    </form>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}