{% extends 'home/base.html' %}
{% load static %}
{% block title %}ویرایش مشخصات{% endblock %}
{% block open1 %}
open
{% endblock %}
{% block open1-active1 %}
active
{% endblock %}
{% block content %}
<div class="cintainer">
  <div class="card my-3 shadow">
    <form action="" enctype="multipart/form-data" method="post">
      <h5 class="card-header">Profile Details</h5>
      {% if msg_profile == "update profile success" %}
      <h5 class="text-dange bg-success">پروفایل با موفقیت تغییر کرد.</h5>
      {% elif msg_profile == "update profile filed" %}
      <h5 class="text-success bg-danger">خطا: پروفایل تغییر نکرد.</h5>
      {% endif %}

      <!-- Account -->
      <div class="card-body">
        <div class="d-flex align-items-start align-items-sm-center gap-4">
          <!-- <img src="{% static 'assets/img/avatars/1.png' %}" alt="user-avatar" class="d-block rounded" id="uploadedAvatar" width="100" height="100"> -->
          {% if form_profile.image %}
          <img src="{{request.user.profile.image.url}}" alt="user3-avatar" class="d-block rounded" id="uploadedAvatar"
            width="100" height="100">
          {% else %}
          <img src="/media/images/profiles/default-image-profile.png" alt="user-avatar" class="d-block rounded"
            id="uploadedAvatar" width="100" height="100">
          {% endif %}
          <div class="button-wrapper">
            <!-- <form action=""  method="post" enctype="multipart/form-data"> -->
            {% csrf_token %}
            <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
              <span class="d-none d-sm-block">Upload new photo</span>
              <!-- <i class="bx bx-upload d-block d-sm-none"></i> -->
              <!-- <input type="file" id="upload" class="account-file-input" hidden=""> -->
              {{form_profile.image}}
            </label>
            <button class="btn btn-outline-success" type="submit">Update</button>
          </div>
        </div>
      </div>
      <hr class="my-0">
      <div class="card-body">
        <!-- <form id="formAccountSettings" enctype="multipart/form-data" method="POST"> -->
        {% csrf_token %}

        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="organization" class="form-label">شماره ملی</label>
            <!-- <input type="text" class="form-control" id="organization" name="organization" value="ThemeSelection"> -->
            {{form_profile.nashnalcode}}
            {% for error in form_profile.nashnalcode.errors %}
              {{error}}
            {% endfor %}
            <!-- {% if form.errors %}
              {{form.errors}}
            {% endif %} -->
          </div>
        </div>
        <div class="mt-2">
          <button type="submit" class="btn btn-primary me-2">ذخیره تغییرات</button>
        </div>
        <!-- </form> -->
      </div>
      <!-- /Account -->
    </form>
  </div>
  <div class="card my-3 shadow">
    {% if msg_user == "update user success" %}
      <h5 class="text-dange bg-success">کاربر با موفقیت تغییر کرد.</h5>
    {% elif msg_user == "update user filed" %}
      <h5 class="text-success bg-danger">خطا: کاربر تغییر نکرد.</h5>
    {% endif %}
    <div class="card-body">
      <form action="" method="post">
        {% csrf_token %}
      <div class="row">
          <div class="col-lg-5 col-10">
            <label for="phone_number" class="form-label">یوزرنیم</label>
            <!-- <input type="number" name="" class="form-control" id="phone_number"> -->
            {{form_user.username}}
            {% if msg_user == "username error" %}
              <p class="text-danger">خطا: یوزرنیم تکراری است</p>
            {% endif %}
          </div>
          <div class="col-lg-5 col-10">
            <label for="phone_number" class="form-label">شماره تلفن</label>
            {{form_user.phone_number}}
            {% for error in form_user.phone_number.errors %}
            {{error}}
            {% endfor %}
            {% if msg_user == "phone_number error" %}
              <p class="text-danger">خطا: شماره تلفن تکراری است</p>
            {% endif %}
            <!-- <input type="number" name="" class="form-control" id="phone_number"> -->
          </div>
          <div class="col-lg-5 col-10">
            <label for="phone_number" class="form-label">نام</label>
            {{form_user.first_name}}
            <!-- <input type="number" name="" class="form-control" id="phone_number"> -->
          </div>
          <div class="col-lg-5 col-10">
            <label for="phone_number" class="form-label">نام خانوادگی</label>
            {{form_user.last_name}}
            <!-- <input type="number" name="" class="form-control" id="phone_number"> -->
          </div>
          <div class="col-lg-3"></div>
          <div class="col-8">
            <label for="phone_number" class="form-label">ایمیل</label>
            {{form_user.email}}
            {% if msg_user == "email error" %}
              <p class="text-danger">خطا: ایمیل تکراری است</p>
            {% endif %}
            <!-- <input type="number" name="" class="form-control" id="phone_number"> -->
          </div>
          {{form.request}}
          <div class="col-lg-3"></div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary" type="submit">ویرایش</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}