{% extends 'members/base.html' %}
{% load static %}
{% block title %}مشخصات بانکی{% endblock %}
{% block active2 %}
open
{% endblock %}
{% block active6 %}
active
{% endblock %}
{% block content %}
<div class="cintainer">
	<!-- <div class=""> -->
	<div class="row my-2">
		<div class="card">
			<form action="" method="post">
				{% csrf_token %}
				<div class="row p-3">
					<div class="col-md-6">
						<div class="input-group">
							{{form.card_number}}
							<!-- <input type="number" class="form-control" placeholder="شماره کارت"> -->
							<span class="input-group-text" id="basic-addon13">شماره کارت</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group">
							{{form.shaba}}
							<!-- <input type="number" class="form-control" placeholder="شماره شبا"> -->
							<span class="input-group-text" id="basic-addon13">شماره شبا</span>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-danger my-2">ثبت</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="card">
			<h5 class="card-header">لیست شماره کارت ها</h5>
			<div class="table-responsive text-nowrap">
				<table class="table">
					<thead>
						<tr>
							<th>شماره کارت</th>
							<th>وضعیت</th>
							<th>بیشتر</th>
						</tr>
					</thead>
					{% for card in cards %}
						<tbody class="table-border-bottom-0">
							<tr>
								<td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{card.card_number}}</strong>
								</td>
								<td>
									{% if card.active %}
									<span class="badge bg-label-success me-1">قعال</span>
									{% else %}
									<span class="badge bg-label-danger me-1">غیرفعال</span>
									{% endif %}
								</td>
								<td>
									<div class="dropdown">
										<button type="button" class="btn p-0 dropdown-toggle hide-arrow"
											data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> حذف</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<!-- </div> -->
</div>
{% endblock %}